<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="css/iconfont.css" />
  <link rel="stylesheet" href="css/public.css" />
  <link rel="stylesheet" href="css/mobile.css" />
  <link rel="stylesheet" href="plugin.css" />
  <title>mobile</title>
</head>

<body>
  <div id="app">
    <header>
      <span @click="backHome">
        <i class="iconfont icon-zuo"></i>
      </span>
      header
    </header>
    <router-view></router-view>
  </div>
</body>
<script src="js/vue.js"></script>
<script src="js/vue-router.js"></script>
<script src="js/components.js"></script>
<script>
  //==========
  /**
   * 子目录
   */
  let subCategory = {
    template: `<div class="mobile_nav_sub mobile_nav_war" @click="jumpPage"><span class="mobile_nav_span">{{modulename}}</span><span class="mobile_nav_span"><i class="iconfont icon-you"></i></span></div>`,
    props: ["modulename"],
    methods: {
      jumpPage() {
        this.$router.push("/" + this.modulename);
      }
    }
  };
  //============

  //=================
  /**
   * 目录
   */
  let category = {
    template: `<div class="mobile_nav"><div class="mobile_nav_title mobile_nav_war" @click="iShide"><span class="mobile_nav_span">基础组件</span><span class="mobile_nav_span"><i :class="'iconfont '+ iconame"></i></span></div><subCategory v-if="iSshow" v-for="(p,idx) in modules" :modulename="modules[idx]" :key="idx"></subCategory></div>`,
    data() {
      return {
        iSshow: false,
        iconame: "icon-xia",
        modules: ["changeContent"]
      };
    },
    methods: {
      iShide() {
        if (this.iSshow) {
          this.iSshow = false;
          this.iconame = "icon-xia";
        } else {
          this.iSshow = true;
          this.iconame = "icon-shang";
        }
      }
    },
    components: {
      subCategory
    }
  };
  //===================
  /**
   *首页
   */
  let home = {
    template: `<section><category></category></section>`,
    components: {
      category
    }
  };
  //=================
  /**
  *router 
  */

  const myRouter = new VueRouter({
    routes: [{
        path: "/",
        component: home
      },
      {
        path: "/changeContent",
        component: changeContent
      },
    ]
  });
  //========

  function fun(i) {
    vm._autojump(i)
  }
  var vm = new Vue({
    router: myRouter,
    el: "#app",
    components: {
      home
    },
    methods: {
      _autojump(i) {
        this.$router.push("/" + i)
      },
      backHome() {
        this.$router.push("/")
      }
    }
  });
</script>

</html>