@charset "utf-8";
body,p,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,td,input,select,option,textarea,fieldset,figure,figcaption,aside,article,hgroup{
  margin:0;
  padding:0;
}
a{
  text-decoration:none;
}
li{
  list-style: none;
}
html,body{
  height: 100%;
}
