@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, input, dl, dd, dt, ol, ul, p, select, option, textarea {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%; }

html {
  font-size: 27.78vw; }

body {
  font-family: "微软雅黑",Arial;
  display: -webkit-flex;

  -webkit-flex-direction: column; }

a {
  text-decoration: none; }

ol, ul {
  list-style: none; }

img {
  border: none;
  display: block;
}


/*==========================锚点连接========================*/






/*<!--=======================导航波动组件=========================-->*/
.nav{
  margin-bottom: .4rem;

}
.navBox{
  border: 1px solid #999999;
}
.all-sort-nav {
  padding-top: .2rem;
  border: 1px solid #999999;
  /*width: 100%;*/
  height: .37rem;
  display: -webkit-flex;
  -webkit-flex-wrap: nowrap;
  overflow-x: auto;
  margin-left: .16rem;
  border-bottom: 1px solid #dbdcdd;
}

.all-sort-nav a {
  line-height: .28rem;
  height: .28rem;
  width: .62rem;
  font-size: .14rem;
  color: #999999;
  -webkit-flex-shrink: 0;
  text-align: center;
}

.all-sort-nav a:nth-of-type(1) {
  color: #f86442;
  margin-left: 0px;
  background-size: .112rem .14rem;
}

.all-sort-nav::-webkit-scrollbar {
  display: none; }

.sell-good-book{
  margin-bottom: .1rem;
}
